* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding-top: 30px;
    background-image: url('../img/banner_fruits.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 600px;
}

nav {
    background-color: rgb(2 138 158);
}

#h1_01 {
    margin-left: 20px;
    color: white;
    text-shadow: 3px 3px 10px black;
    font-variant: small-caps;
    font-size: 2.5em;
    font-weight: bold;
    width: 300px;
    height: 300px;
    background-color: rgba(2, 138, 158, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px double white;
    border-radius: 50%;
}

nav div div ul li:hover {
    position: relative;
    border-top: 3px double white;
    border-bottom: 3px double white;
    height: min-content;
}

#img_01 {
    float: right;
    width: 250px;
    display: block;
}

@media (max-width: 769px) {
    #img_01
     {
      display: none;
    }
  }

summary {
    font-weight: bold;
    font-style: italic;
    background-color: rgb(2 138 158);
    color: white;
    padding: 10px;
}

details {
    border: 1px dashed rgb(2 138 158);
    margin-bottom: 5px;
}

details {
    background-color: rgba(2, 138, 158, 0.2);
}

details p {
    margin: 10px;
}

table {
    margin: 0 auto;
}

thead {
    color: white;
}

thead th {
    padding: 5px 10px
}

tbody tr td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
}

.stclass {
    width: min-content;
    padding: 5px 30px;
    color: white;
    border: 10px double;
    border-radius: 10px;
}